.show {
    opacity: 1;
    /* 使用CSS3的transition实现动画 */
    transition: all 1s ease-in;
}

.hide {
    /* 使用CSS3的animation实现动画 */
    /* keyFrames, 动画时长，动画速率曲线，是否保留最后一帧*/
    animation: hide-item 2s ease-in forwards;
}

/* 实现一个keyFrames */
@keyframes hide-item {
    0% {
        opacity: 1;
        color: red;
    }
    50% {
        opacity: 0.5;
        color: green;
    }
    100% {
        opacity: 0;
        color: blue;
    }
}